{# Utilisation du systeme de layout #}

{% extends 'base.html.twig' %}

{% block title 'Mes projets' %}

{% block body %}
<div class="jumbotron text-center">
    <h1>Liste de tous mes projets<h1><br>
<div>

<ul>
    <li>Mes projets salle de bain</li>
    <li>Mes projets chambre</li>
</ul>

{% endblock %}